
body {
	background-color: #00FF00;
}

div.head {
	width: 50%;
	padding: 10px;
}

p.header {
	font-family: "Helvetica";
	color: #000000;
	font-weight: BOLD;
	font-size: 8em;
}

a {
	font-family: "Helvetica";
	color: #FFFFFF;
	font-weight: BOLD;
	font-size: 2em;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	color: #AAAAAA;
	}
a:active {
	color: #FFFFFF;
}
